body{
  margin: 0;
  padding: 0;
  max-height:1200px;
}
/**{
  border: 1px dashed red;
}*/
.main{
  height: 100vh;
}
header{
  background-color: #ececec;
  height:50px;
  margin: 0;
  overflow: hidden;
  box-sizing:border-box;
  box-shadow: 1px .5px 2.5px gray;
}
.title{
  height:100%;
  padding: 17px 5px;
  box-sizing: border-box;
  font-weight:600;
}
.bground{
  height:100vh;
  min-height:450px;
}
.login-form{
  box-shadow: 1px 1px 5px gray;
    background-color: white;
    border-radius: 8px;
    width: 250px;
    margin: 50px 50%;
    transform: translate(-50%,0);
    box-sizing: content-box;
    padding: 10px 2.3px;
    animation: from-right .5s;
}
.login-title{
    text-align: center;
    padding: 10px 5px;
}
.login-input{
    width: 90%;
    box-sizing: border-box;
    padding: 8px;
    border: none;
    margin: 7px 50% 0;
    transform: translate(-50%);
    border-bottom:.5px solid gray;
}
.login-input:focus{
    outline: none;
    border-bottom: 1px solid gray;
    box-sizing: border-box;
}
.login-input:focus::placeholder{
  font-weight:600;
  color:darkgray;
}
.hint-word{
  font-size: .7rem;
  margin: 0 15px 7px;
  width: 100%;
  color:red;
}
.login-btn{
    width: 95%;
    margin: 10px 50%;
    transform: translate(-50%);
    box-sizing: border-box;
    border: none;
    border-radius: 12px;
    padding:9px 6px;
    background-color: rgb(209,205,205);
    cursor: pointer;
    transition: opacity 1.5s, color 1.5s;
}
.register-btn{
    width: 50%;
    background-color: rgba(255, 0, 0, 0);
    border: none;
    margin: 11px 50%;
    padding: 5px;
    color: blue;
    font-weight: bold;
    border-radius: 6.3px;
    transform: translate(-50%);
    box-sizing: border-box;
    cursor: pointer;
}
.info{
  background-color: #ececec;
  height:20vh;
  box-sizing: border-box;
  box-shadow: 1px -.5px 2.5px gray;
}
.copyright{
  margin: 0 50%;
  transform: translate(-50%,0);
  padding: 30px 10.6px;
  height: 100%;
  width: 100%;
  box-sizing:border-box;
  word-wrap: break-word;
  text-align: center;
}
.text{
  text-align: center;
  font-size: .75rem;
  text-decoration: underline;
}
*:disabled{
  opacity: .5;
  cursor: unset;
}
@keyframes from-right{
  0%{
    opacity:0.01;
    margin: 50px 50%;
    transform: translateX(100%);
    }
  50%{
    opacity: 0.01;
  }
}